.wrapper {
  background-color: #1e272e;
  width: 100%;
  min-height: 50px;
  color: #f1f1f3;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}


.title {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginBtn {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginBtn:before {
  background-color: initial;
  background-image: linear-gradient( rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.loginBtn:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.welcome {
  font-size: 1rem;
  font-weight: bolder;
}

.accentColor {
  color: #f2505e;
  font-weight: bold;
}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }

  .title,
  .loginBtn {
    position: static;
    margin-top: 10px;
  }

  .loginBtn {
    padding: 16px 48px;
  }
}





