@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Orbitron&display=swap');

.wrapper {
  background-color: #6b5e27;
  min-height: 200px;
  width: 50%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  padding: 20px;
  flex-direction: column;
  user-select: none;
  margin-top: 40px;
}

.wrapperimage {
  position: relative;
  align-items: center;
  background: linear-gradient(to right, #9e9313, #77810d);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}

.buttonwrapper {
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
  border-radius: 2rem;
  letter-spacing: .05em;
  color: #ffd900;
  text-align: center;
  text-shadow: 4px 4px 4px #070707;
  margin-bottom: 20px;
  user-select: none;
}

.pot {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 4px 4px 4px #070707;
  text-align: center;
  flex: 1;
  user-select: none;
}

.potAmount {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 4px 4px 4px #070707;
  text-align: center;
  user-select: none;
}

.goldAccent {
  color: #ffdf3d;
  text-shadow: 4px 4px 4px #070707;
  user-select: none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  background-color: #000000;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #474747;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  user-select: none;
}

.btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  display: block;
}

.btn::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

.btn::after {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.btn2 {
  position: relative;
  display: inline-block;
  background-color: #000000;
  padding: 25px 30px;
  margin: 40px 0;
  color: #6cef00;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #474747;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  user-select: none;
}

.btn2:hover {
  background: #6cef00;
  color: #050801;
  box-shadow: 0 0 5px #6cef00,
    0 0 25px #6cef00,
    0 0 50px #6cef00,
    0 0 200px #6cef00;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  display: block;
}

.btn2::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #6cef00);
  animation: animate1 1s linear infinite;
}

.btn2::after {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6cef00);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}


.recentWinnerTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 4px 4px 4px #070707;
  text-align: center;
  margin-top: 20px;
  user-select: none;
}

.winner {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 4px 4px 4px #070707;
  text-align: center;
  color: #f45358;
  user-select: none;
}

.textAccent {
  color: #f45358;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 4px 4px 4px #070707;
  user-select: none;
}

.drawWinnerBtn {
  background-color: #242833;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
  border: 1px solid #f2505e;
  border-radius: 1.2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  color: #f2505e;
  text-shadow: 4px 4px 4px #070707;
  user-select: none;
}

.instructions {
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 4px 4px 4px black;
  user-select: none;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .05em;
  font-size: 30px;
}

.pdescr {
  color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
}

.wrapperimage2 {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  user-select: none;
}

@media (max-width: 767px) {
  .wrapper {
    width: 75%;
  }

  .btn {
    margin-left: 35px;
  }

  .btn2 {
    margin-left: 20px;
  }

}